{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/form.css' %}">
 </head>
    {% include 'header.html' %}

<body>
    <section>
        <h2>게시글</h2>
        <div id="board-contents">
            <input type="text" id="title" name="title" readonly>
            <p type="text" id="author"></p>
            <textarea id="contents" name="contents" readonly></textarea>

            <div id="image-container">
                <img id="loaded_file" name="loaded_file" src="{{ image_path }}">
    
                <div id="langpack">
                    <!-- Form for text conversion -->
                    <form method="post" action="/put/">
                        {% csrf_token %}
                        <div>
                            <input type="hidden" name="image_path" value="{{ image_path }}">
                            <input type="checkbox" id="check1" name="lang" value="kor">
                            <label for="check1">Korean</label>
                        </div>
                        <div>
                            <input type="checkbox" id="check2" name="lang" value="eng">
                            <label for="check2">English</label>
                        </div>
                        <button type="submit">Text Conversion</button>
                    </form>
                    <!-- Display the resulttext here -->
                    {{ resulttext }}
                </div>
            </div>



            <!-- <div id="image-container">
                <img id="loaded_file" name="loaded_file" src="">

                <div id="langpack">
                    <form>
                       <div><input type="checkbox" id="check1"><label for="check1">kor</label></div> 
                       <div><input type="checkbox" id="check2"><label for="check2">eng</label></div> 

                    </form>

                </div>

            </div> -->
            <input type="datetime" id="created_at" readonly>
            <input type="datetime" id="modified_at" readonly>
        </div>
    </section>
    <script src="{% static 'script/board-api.js' %}"></script>
</body>
{% include 'footer.html' %}

</html>



