{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css' %}"> </head>
    <title>Document</title>
</head>
<body>
    
    <div class="footer">
        
        <ul>
            <li><h3>BOARD</h3></li>
            <li>주소 : 서울시 강남구 동동</li>
            <li>고객센터 : 070-1111-1111</li>
            <li>MONDAY-FRIDAY 11:00-18:00</li>
            <li>SAT/HOLIDAY OFF</li> 
            <li>BRAKE TIME 13:00-14:00</li>
                
                
        </ul>


    </div>



</body>
</html>