{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css' %}"> </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="header">
        
        <div class="logo"><h1>BOARD</h1></div>
        <div class="top_nav">
        <ul>
            <li>ABOUT</li>
            <li>EVENT</li>
            <li>SHOP</li>
            <li><a href="/login">LOGIN</a></li>
            <!-- <li>LOGOUT</li> -->
            <!-- <li><button onclick="logout()">LOGOUT</button></li> -->

         
        </ul>
        </div>
    

    </div>


</body>
<script src="{% static 'script/logout-api.js' %}"></script>
</html>