<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="header">
        
        <div class="logo"><h1>BOARD</h1></div>
        <div class="top_nav">
        <ul>
            <li>ABOUT</li>
            <li>EVENT</li>
            <li>SHOP</li>
            <li>LOGIN</li>
            <li>CART</li>
        </ul>
        </div>
    

    </div>


</body>
</html>